@import "tailwindcss";

@layer base {
  h1 {
    font-family: "Pixelify Sans", sans-serif;
  }
}
@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
