@import "tailwindcss";

@theme {
  --font-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-sans: "Pixelify Sans", sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
