@import "tailwindcss";

.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 15px),
    15px calc(100% - 15px),
    15px 100%,
    calc(100% - 15px) 100%,
    calc(100% - 15px) calc(100% - 15px),
    100% calc(100% - 15px),
    100% 15px,
    calc(100% - 15px) 15px,
    calc(100% - 15px) 0px,
    15px 0px,
    15px 15px,
    0px 15px
  );
}

@theme {
  --font-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-sans: "Pixelify Sans", sans-serif;
}

@theme inline {
  --ease-steps: steps(var(--steps, 3), end);
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
